/* NOTE GLOBAL */
html,
body {
  font-family: "Times New Roman", Times, serif;
}

* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}
/* NOTE HEADER */
.header__logo img {
  width: 250px;
}

.header__nav ul {
  list-style: none;
  background-color: black;
  padding: 15px 0;
  margin: 5px 0 10px;
}

.header__nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.header__nav li {
  display: inline;
  margin: 0 10px;
}

/* NOTE CAROUSEL */

.carousel {
  background-image: url(../img/slider_1.jpg);
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* NOTE PRODUCT */
/* TODO fix responsive background img with grid / flexbox */
/* TODO fix with calc 25% - px */
.products {
  margin-bottom: 70px;
}
.products h2 {
  text-align: center;
  font-size: 30px;
}
.products__item {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.products__item img {
  width: 100%;
}

.products__item h3 {
  font-size: 17px;
}

.products__item button {
  background-color: red;

  border: 1px solid red;
  border-radius: 3px;

  color: white;

  padding: 5px 10px;
  margin-top: 15px;
}
