/* NOTE GLOBAL */
html,
body {
  font-family: "Times New Roman", Times, serif;
}

* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}
/* NOTE HEADER */
.header__logo img {
  width: 250px;
}

.header__nav ul {
  list-style: none;
  background-color: black;
  padding: 15px 0;
  margin: 5px 0 10px;
}

.header__nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.header__nav li {
  display: inline;
  margin: 0 10px;
}

/* NOTE INTRO */
/* TODO chiều cao 2 cột ko bằng nhau */
/* TODO tự canh chỉnh lại img ? hay vẫn phục thuộc tỉ lệ hình gốc */
.intro__text {
  font-style: 20px;
  margin: 25px 0 40px;
}
.intro__text span {
  color: red;
  font-weight: bold;
}

.intro__left,
.intro__right {
  float: left;
  width: 50%;
}

.intro__item img {
  width: 100%;
  display: block;
  /* img là inline nên default tự add spacing */
  /* phần trắng thừa ra trong hình là do cắt ko sát */
}
.intro__item {
  padding: 0 15px 25px;
}
.intro__smallItem {
  float: left;
  width: 50%;
}
/* NOTE CAROUSEL */

.carousel {
  background-image: url(../img/slider_1.jpg);
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* NOTE PRODUCT */
/* TODO fix responsive background img with grid / flexbox */
/* TODO fix with calc 25% - px */
.products {
  margin-bottom: 70px;
}
.products h2 {
  text-align: center;
  font-size: 30px;
}
.products__item {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.products__item img {
  width: 100%;
}

.products__item h3 {
  font-size: 17px;
}

.products__item button {
  background-color: red;

  border: 1px solid red;
  border-radius: 3px;

  color: white;

  padding: 5px 10px;
  margin-top: 15px;
}

/* NOTE BANNER */
/* TODO fix responsive hình bị mất */
.banner {
  background-image: url("../img/nature.jpg");
  height: 400px;
  /* background-repeat: no-repeat; */
  /* vì hình đủ to nên ko bị hiện tượng repeat, tuy nhiên cẩn thận */
  background-size: cover;
  position: relative;
}

/* TODO z-index ? */
.banner__circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background-color: rgba(131, 41, 39, 0.8);

  color: white;
  text-align: center;

  position: absolute;
  top: 15px;
  left: 300px;
  /* opacity: 0.8; */
  /* opacity sẽ làm mờ chữ theo */
}

.banner__circle p {
  margin: 0 0 20px;
}

.banner__circle p:first-child {
  font-size: 30px;
  margin: 50px 0 0;
}

.banner__circle p:nth-child(2) {
  font-size: 80px;
  margin: 0;
}

/* NOTE SERVICE */
/* TODO lorem không đều nhau nếu h2 khác nhau */
.services {
  margin: 30px 0 10px;
}
.services_content {
  width: 70%;
  margin: auto;
  text-align: center;
}

.services_item {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.services_item i {
  font-size: 40px;
}

.services_item h2 {
  margin: 10px 0;
}

.services_item p {
  margin: 0;
}

/* NOTE FOOTER */
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer p, .footer h2{
  margin: 0;
}

.footer h2{
  font-size: 30px;
}